@import "../../styles/functions";

.root {
  border: 0;
}

.text {
  color: #fff;
  font-size: 18px;
  text-align: center;

  @at-root h2#{&} {
    font-size: 20px;

    @include screen(sm) {
      font-size: 24px;
    }
  }
}